<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NotfallExporterUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NotfallExporterUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="NotfallImporter.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="file" />
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <applicationSettings>
    <NotfallExporterUI.Properties.Settings>
      <setting name="ErrorDirectory" serializeAs="String">
        <value>D:\Programmierung\ING\Files\Error</value>
      </setting>
      <setting name="ImportDirectory" serializeAs="String">
        <value>D:\Programmierung\ING\Files\ImportDMS</value>
      </setting>
      <setting name="BackupDirectory" serializeAs="String">
        <value>D:\Programmierung\ING\Files\Backup</value>
      </setting>
      <setting name="AccountConfig" serializeAs="String">
        <value>D:\Programmierung\ING\AccountConfig.xml</value>
      </setting>
      <setting name="IdxIndexSpecification" serializeAs="String">
        <value>D:\Programmierung\ING\IdxIndexSpezifikation.xml</value>
      </setting>
    </NotfallExporterUI.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <NotfallExporterUI.Properties.Settings>
      <setting name="Einstellung1" serializeAs="String">
        <value>t</value>
      </setting>
    </NotfallExporterUI.Properties.Settings>
  </userSettings>
</configuration>